# list
- creating
- indexing n slicing (same as string)
- methods
- comprehension

In [ ]:
a = []                                                  # empty list
b = [1,2,3,4]                                           # numerical list
c = ['apple', 'banana', 'cherry']                       # string list
d = ['apple', 1, 'banana', 2, 'cherry', 3]              # mixed list
e = [[1,2,3],[4,5,6],[7,8,9]]                           # list of lists
f = [['apple', 1], ['banana', 2], ['cherry', 3, 120]]   # mixed nested list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

In [ ]:
for i in c:
    print(i)
for i in d:
    print(i)
for i in e:
    print(i)
for i in f:
    print(i)

In [ ]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1,2,3] * 5            # duplicated list
print(g)
print(h)
print(i)
print(j)

In [ ]:
movies = ['Kung Fu Panda', 'Wish Dragon', 
          'The Croods', 'Moana', 'Invincible']
print(movies)
print(len(movies))
print("first movie: ",movies[0])
print("last movie: ",movies[-1])
print("second movie: ",movies[1])
print("third movie: ",movies[2])

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[:3]) # 0, 1, 2
print(numbers[-3:]) # 8, 9, 10
print(numbers[2:-2]) # everthing except first two and last two
print(numbers[::-1])

### list methods (11)
- adding/updating
  - `append()`
  - `extend()`
  - `insert()`
- removing/deleting
  - `remove()`
  - `pop()`
  - `clear()`
- utility
  - `sort()`
  - `reverse()`
  - `index()`
  - `count()`
  - `copy()`

In [ ]:
fav_books = []
hated_books = []
for i in range(5):
    book = input("Enter your favorite book: ")
    fav_books.append(book)
for i in range(3):
    book = input("Enter your hated book: ")
    hated_books.append(book)
    
print("Favorite books: ", fav_books)
print("Hated books: ", hated_books)

In [ ]:
hated_books.append("Julius Caesar") # add to the end
print(hated_books)

In [ ]:
# merge two lists and create a new list
books = fav_books + hated_books
print(books)

In [ ]:
# adding a list to existing list 
books.extend(['Legion', 'Rithmatist','Steelheart'])
print(books)
print('total books: ', len(books))

In [ ]:
books.append(['Diary of a Wimpy Kid', 'Harry Potter']) # nesting
print(books)

In [ ]:
books.insert(1, 'The well of Ascension') # insert at index 1
books

In [ ]:
books[10] = 'Pygmalion' # replace at index 10
books

In [ ]:
books.remove("Steelheart") # remove by value

In [ ]:
books.pop(7) # remove by index

In [ ]:
books.pop() # remove last element

In [ ]:
hated_books.clear() # remove all elements
hated_books

#### wap to create an empty list, then fill the list with 10 prime numbers using a loop, starting with 2

In [ ]:
numbers = [12,3,67,1,2,6,78,23,5,67,2]
# reverse
a = numbers[::-1] # gives the result but doesn't change the original list

In [ ]:
numbers.reverse() # changes the original list

In [ ]:
print(numbers)

In [ ]:
numbers.sort() # ascending order, changes the original list
print(numbers)
numbers.sort(reverse=True) # descending order
print(numbers)

In [ ]:
x = [[1, 12], [2, 5], [5, 10], [4, 15]]
x.sort() # sort by first element of each sublist
print(x)

In [ ]:
x.sort(key= lambda e: e[1])
print(x)

In [ ]:
x.sort(key=lambda i: sum(i))
print(x)

In [ ]:
users = [('Alice', 25), ('Bob', 19), ('Alex', 35)]
users.sort()
print(users)

In [ ]:
cart = [
    ['mobile', 25000, 3],
    ['laptop', 60000, 1],
    ['watch', 3000, 3],
    ['headphones', 1500, 2]
]
cart.sort(key=lambda i: i[1] * i[2]) # according to total price
print(cart)

In [ ]:
a = [1,2,3,1,1,2,2,3,4,4,5,5,1,1,1,1,1,0]
print("1 occurs:",a.count(1))
print("5 occurs:",a.count(5))
print("10 occurs:",a.count(10))

In [ ]:
numbers.index(12) # gives the index of 12 (first occurence)

In [ ]:
a = [1,2,3,4,5]
b = a.copy()    # shallow copy (new list with same elements)
c = a           # reference copy (both a and c refer to same list)
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)

### comprehension

In [ ]:
a = [1,2,3,4,5]
a3 = [i**3 for i in a]
print(a)
print(a3)
a5 = [i-5 for i in a]
print(a5)

In [ ]:
# rookie way
aodd2 = []
for i in a:
    if i%2!=0:
        aodd2.append(i**2)
# pythonic way
aeven2 = [i**2 for i in a if i%2==0]
print(aeven2)
# map and filter
# aodd2 = list(map(lambda i: i**2, filter(lambda i: i%2!=0, a))) # not good

In [ ]:
names=  ['Alice Smith', 'Bob Brown', 'Charlie Green', 'David White']

initials = []
for n in names:
    initials.append(f"{n.split()[0][0]}{n.split()[-1][0]}")
print(initials)

# comprehension
initials = [f"{n.split()[0][0]}{n.split()[-1][0]}" for n in names]
print(initials)

# tuples
- creating
- indexing and slicing
- methods
- packing n unpacking

In [ ]:
x = () # empty tuple
y = (1,) # single element tuple
z = (1,2,3,4,5) # multiple element tuple
a = ((1,2), (3,4), (5,6)) # nested tuple
b = ('a', 1, 'b', 2, 'c', 3) # mixed tuple
c = (1,) * 5 # duplicated tuple
d = tuple('stormlight archives') # tuple from string
e = tuple(range(10)) # sequence to tuple
print(x, y, z)
print(a)
print(b)
print(c)
print(d)
print(e)

In [ ]:
print(e)
print(e[4::-1]) # -1 (step) makes this go in reverse order
print(e[4:])

In [ ]:
# index (search) and count methods 
fruits = ('apple', 'banana', 'cherry', 'apple', 'cherry')
print(fruits.index('apple'))
print(fruits.index('apple',1)) # search starts from idx 1
print(fruits.count('apple'))   # counts the occurences of 'apple'
print(fruits.count('banana'))   # counts the occurences of 'apple'
print(fruits.count('mango'))   # counts the occurences of 'apple'

In [ ]:
x = 1,2,3  # tuple packing
print(x)

In [ ]:
def stats(*data):
    total = sum(data)
    avg = total / len(data)
    return total, round(avg,2) # round method to round off to 2 decimal places

In [ ]:
s = stats(12,35,29,59,23,45)
print(s)

In [ ]:
a, b = 12, 45 # tuple unpacking
print(a, b)

In [ ]:
# unpacking error (too many or not enough variables)

# a, b, c = 12, 45 # error
# a, b = 12, 45, 78 # error
# total, mean, max = stats(12,35,29,59,23,45) # error

In [ ]:
a,b,*c= (1,2,3,4,5,5,5) # c is a list
print(a)
print(b)
print(c)

In [ ]:
a,*b,c= (1,2,3,4,5,5,5) # b is a list
print(a)
print(b)
print(c)

In [ ]:
*a,b,c= (1,2,3,4,5,5,5) # b is a list
print(a)
print(b)
print(c)

# set
- creating
- methods
- set operation
  - union
  - intersection
  - difference
  - symmetric difference
  - issubset
  - issuperset

In [ ]:
x = set() # empty set
y = {1,2,3,4,5} # set with elements
z = {1,2,2,3,3,4,4,5,5,5} # set removes duplicates
print(x)
print(y)
print(z)

In [ ]:
a = set('hello') # set from string
print(a)

In [ ]:
b = set([23,5,45,65,45,12,45,6,])
print(b)
c = set(range(10))
for i in c:
    print(i, end=' ')

In [ ]:
data = set() # empty set
data.add(12) # add element
data.add(2) # add element
data.add(12) # add element
data.add(5) # add element
print(data)

In [ ]:
data.update([23,45,67,89]) # add multiple elements
print(data)

In [ ]:
data.discard(23) # remove element
data.remove(45) # remove element (error if not present)
print(data)

In [ ]:
data.pop() # remove random element
print(data)
data.clear() # remove all elements
print(data)

In [ ]:
# operations
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {11,12,13}
print(a.union(b))
print(a | b) # | is union operator

In [ ]:
print(a.intersection(b))
print(a & b) # & is intersection operator

In [ ]:
print(a.difference(b))
print(a - b) # - is difference operator
print(b - a)
print(b.difference(a))

In [ ]:
print(a.symmetric_difference(b))
print(a ^ b) # ^ is symmetric difference operator

In [ ]:
print(a|c)
print(a&c)
print(a-c)
print(a^c)

In [ ]:
d = {1,2,3}
print(a.issuperset(b))
print(a.issuperset(c))
print(a.issuperset(d))

In [ ]:
print(d.issubset(a))
print(d.issubset(b))
print(d.issubset(c))

In [ ]:
print(a.isdisjoint(b))
print(a.isdisjoint(c))
print(a.isdisjoint(d))

# conversion

In [ ]:
a = [1,2,3,4,5]
a_set = set(a)
a_tuple = tuple(a)
print(a)
print(a_set)
print(a_tuple)

In [ ]:
a_list = list(a_set)
print(a_list)

In [ ]:
x = [1,2,3,3,4,5,5,6,5,1,1,1,1,1]
print(x)
x = list(set(x)) # set -> remove duplicates -> list -> x
print(x)

# dictionary
- creation
- traversal
- method
- sorting
- comprehension

syntax:
```
{
    key:value, 
    key:value,
    key:value, 
}
```

In [ ]:
fruits = {
    'apple': 'red',
    'banana': 'yellow',
    'cherry': 'red',
    'orange': 'orange',
}
print(fruits)

In [ ]:
temp= {
    'lucknow': [25, 30, 35],
    'delhi': [30, 35, 40],
    'chennai': [24, 23, 22],
}
print(temp)

In [ ]:
nums = {
    1: 'ichi',
    10: 'ju',
    100: 'hyaku',
    1000: 'sen',
}
print(nums)

In [ ]:
complicated = {
    (1,2): 'double',
    (1,3,4): 'triple',
    (1,2,3,4): 'quadruple',
}
print(complicated)

In [ ]:
info = dict(name='raju', age=25, marks=[56,73,67])
print(info)

In [ ]:
info2 = dict(name=input(), age=int(input()), city = input())

In [ ]:
print(info2)

In [ ]:
# nested dictionary
report = {
    'Alex' : {
        'English': 85,
        'Maths': 90,
        'Science': 78,
    },
    'Rahul': {
        'English': 80,
        'Maths': 85,
        'Science': 90,
    },
}

print(report)

In [ ]:
from pprint import pp # pretty print

In [ ]:
pp(report)

In [ ]:
fruits['banana']

In [ ]:
report['Alex']

In [ ]:
temp['lucknow']

In [ ]:
report['Alex']['Maths']

In [ ]:
print(temp['delhi'][0])
print(temp['delhi'][-1])
print('avg temp of delhi', sum(temp['delhi'])/ len(temp['delhi']))

In [ ]:
# all keys of a dictionary
print(fruits.keys())
print(temp.keys())

In [ ]:
fruit_names = list(fruits.keys())
print(fruit_names)

In [ ]:
# all values of a dictionary
print(fruits.values())
print(temp.values())
print(report.values())

In [ ]:
# traverse through keys
for item in fruits:
    print(item)

In [ ]:
# access values using keys
for key in fruits:
    print(key, fruits[key])

In [ ]:
# traverse usings .items() method
for k, v in fruits.items():
    print(k, v)

In [ ]:
# traverse only values
for v in fruits.values():
    print(v)

In [ ]:
# total marks of all students
for student, marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print("->",subject, mark)
    print("-> Total marks ", sum(marks.values()))

In [ ]:
# there is no method to add a single value to a dictionary (just a simple assignment)
fruits['mango'] = 'yellow' # add
fruits['grapes'] = 'green' # add
fruits['apple'] = 'green'  # update
pp(fruits)

In [ ]:
# adding small dictionary to a big dictionary
dry_fruits = {'Date': 'Brown', 'Almond': 'Brown', 'Cashew': 'White'}
fruits.update(dry_fruits) # merge the dry_fruits dictionary to fruits
pp(fruits)

In [ ]:
# get method -> error free way to access dictionary values
# fruits['Raisin'] # error if key not present
print(fruits.get('raisin'))
print(fruits.get('date'))
print(fruits.get('Date'))
print(fruits.get('apple', 'no value found'))
print(fruits.get('gauva', 'no value found'))

In [ ]:
# remove
fruits.pop('banana') # remove by key => returns the value

In [ ]:
pp(fruits)

In [ ]:
# sorting on keys
sorted(fruits.items())

In [ ]:
sorted(fruits.items(), key=lambda i: i[1])

In [ ]:
sorted(fruits.items(), key=lambda i: i[1], reverse=True)

In [ ]:
dict(sorted(fruits.items(), key=lambda i: i[1])) # sorted dictionary

In [ ]:
clean_fruits = {}
for k, v in fruits.items():
    clean_fruits[k.lower()] = v.upper()
pp(clean_fruits)

In [ ]:
# the comprehension way
clean_fruits = {k.lower(): v.upper() for k, v in fruits.items()}
pp(clean_fruits)

In [ ]:
avg_temps = {city: sum(data)/len(data) for city, data in temp.items() }
pp(avg_temps)